{% load static %}

<!--div>
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/posts/">
                <img src='../media/site/home.png' alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    Home
                </a>
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Категории
                    </button>
                    <ul class="dropdown-menu">
                        {% block header %}

                        {% endblock %}
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                    </ul>
                  </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <span style="float: right;">
                    {% if user.is_authenticated %}
                        Hello {{ user.username }}
                        <a href="{% url 'logout' %}">Log out.</a>
                    {% else %}
                        Not logged
                        <a href="{% url 'login' %}?next=/">Log in</a>
                    {% endif %}
                </span>
            </div>
        </nav>
    </header>
</div-->