{% extends 'base.html' %}

{% block title %}
    Новости
{% endblock %}



{% block content %}
    {% if request.user.is_staff %}
        <div>
            <a href="/create/">создать пост</a>
        </div>
    {% endif %}
    <div class="div2">
        <h1>Лента новостей:</h1>
        <div class="">
            {% for post in posts %}
            <div class="card" style="width: 18rem; margin-bottom: 2%; margin: 2%;">
                <img height="200px" src="{{ post.image1.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{ post.title }}</h5>
                    <a href="news/{{post.pk}}/">Подробнее</a>
                </div>
            </div>    
        {% endfor %}
        </div>
        
    </div>
{% endblock %}

{% block header %}
        <div>
            <header>
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/posts/">
                        <img src='../media/site/home.png' alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                            Home
                        </a>
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Категории
                            </button>
                            <ul class="dropdown-menu">
                                {% for rubric in rubrics %}
                                    <li><a  class="dropdown-item" href="rubric/{{ rubric.pk}}">{{ rubric.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <span style="float: right;">
                            {% if user.is_authenticated %}
                                Hello {{ user.username }}
                                <a href="{% url 'logout' %}">Log out.</a>
                            {% else %}
                                Not logged
                                <a href="{% url 'login' %}?next=/">Log in</a>
                            {% endif %}
                        </span>
                    </div>
                </nav>
            </header>
        </div>
{% endblock %}

