{% extends 'base.html' %}


{% block title %}
    Новости
{% endblock title %}



{% block content %}
    <h1>Новости по теме: {{ current_rubric.name }}</h1>
    <div class="div2">
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <img src="{{ post.image1.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>{{ post.title }}</h5>
                    <a href="news/{{post.pk}}/">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block header %}
    <div>
        <header>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/posts/">
                        <img src='/media/site/home.png' alt="" width="30" height="24" class="d-inline-block align-text-top">
                        Home
                    </a>
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Категории
                        </button>
                        <ul class="dropdown-menu">
                            {% for rubric in rubrics %}
                                <li><a  class="dropdown-item" href="/posts/rubric/{{ rubric.pk}}">{{ rubric.name }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
                    <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <span style="float: right;">
                            {% if user.is_authenticated %}
                                Hello {{ user.username }}
                                <a href="{% url 'logout' %}">Log out.</a>
                            {% else %}
                                Not logged
                                <a href="{% url 'login' %}?next=/">Log in</a>
                            {% endif %}
                        </span>
                    </div>
                </nav>
            </header>
        </div>
{% endblock header%}